materials/*.afdesign~lock~
__pycache__/*.pyc
jmadata/
jma_parsers/__pycache__/*.pyc
sounds/*
jmaxml_20250710_Samples/*
jmaxml_20250710_Manual/*
jmaxml_20240216_format_v1_3_hyo1_1.pdf
voicevox_core/*
*.wav
output_combined.*
