materials/*.afdesign~lock~
__pycache__/*.pyc
jmadata/
jma_parsers/__pycache__/*.pyc
sounds/*
jmaxml_20250710_Samples/*
jmaxml_20250710_Manual/*
jmaxml_20240216_format_v1_3_hyo1_1.pdf
voicevox_core/*
*.wav
output_combined.*
settings/token.json
axisjsondata/*
build/*
dist/*
main.exe
geo/府県予報区等-1.geojson
main.dist/*
main.build/*
main.onefile-build/*
geo/一次細分区域等-1.geojson
geo/市町村等（気象警報等）-1.geojson
geo/市町村等をまとめた地域等-1.geojson
jmaxml_20250825_Code/*
